.product_quickview{
    width: 22px;
    height: 22px;
    background: #F8F8F8E5;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}
@media screen and (max-width:749px){
    .product_quickview{
        width: 15px;
        height: 15px;
    }
    .product_quickview svg{
        width: 7px;
        height: 7px;
    }
}

.qv-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.qv-overlay.is-open{
    display: flex;
}
body.qv-lock-scroll{
    overflow: hidden;
}
.qv-modal{
    width: 100%;
    max-width: 311px;
    background: #fff;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    padding: 36px 20px 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.qv-close{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    border-radius: 0px;
    border: none;
}