.product_quickview{
    width: 22px;
    height: 22px;
    background: #F8F8F8E5;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}
@media screen and (max-width:749px){
    .product_quickview{
        width: 15px;
        height: 15px;
    }
    .product_quickview svg{
        width: 7px;
        height: 7px;
    }
}

.qv-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    padding: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.qv-overlay.is-open{
    display: flex;
}
body.qv-lock-scroll{
    overflow: hidden;
}
.qv-modal{
    width: 100%;
    max-width: 311px;
    background: #fff;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    padding: 36px 20px 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.qv-close{
    width: 17px;
    height: 17px;
    background-color: transparent;
    background-image: url('data:image/svg+xml,%3Csvg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4.24219 4.24279L12.7275 12.7281" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/%3E%3Cpath d="M4.24219 12.7278L12.7275 4.24249" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    border-radius: 0px;
    border: none;
    transform: rotate(90deg);
    cursor: pointer;
}
.qv-body{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
}
.qv-media{
    width: calc(46% - 4px);
    padding-block-start: 52%;
    position: relative;
}
.qv-media img{
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
.qv-info{
    width: calc(54% - 4px);
}
.qv-title{
    font-size: 16px;
    color: #000;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: normal;
    margin-block: 13px 20px;
}
.qv-price{
    font-family: 'Lustria';
    font-size: 16px;
    color: #000000;
    letter-spacing: normal;
    line-height: 1.2;   
    margin-block: 0 12px;
}
.qv-desc{
    font-size: 14px;
    color: #000;
    font-weight: 300;
    letter-spacing: -0.14px;
    line-height: 1.1;
    margin: 0px;
}
.qv-btm-info{
    width: 100%;
    margin-block-start: 10px;
}
.qv-field+.qv-field{
    margin-block-start: 10px;
}
.qv-field{
    display: flex;
    flex-wrap: wrap;
}
.qv-field label{
    width: 100%;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.3;
    margin: 0 0 6px;
}
.qv-swatches{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.qv-swatch{
    width: 50%;
    font-family: 'Jost';
    font-size: 18px;
    color: #000;
    font-weight: 400;
    letter-spacing: -0.36px;
    line-height: 1.1;
    padding: 5px 5px 5px 15px;
    border: none;
    box-shadow: 0px 0px 0px 1px #000;
    border-radius: 0px;
    background: transparent;
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}
.qv-swatch:before{
    content: '';
    background: var(--swatch-color);
    width: 5px;
    border-inline-end: 1px solid #000;
    position: absolute;
    left: -1px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}
.qv-swatch.is-active{
    background: #000;
    color: #fff;
}
.qv-select-wrap{
    width: 100%;
    position: relative;
}
.qv-size-select{
    width: 100%;
    height: 40px;
    font-family: 'Jost';
    font-size: 16px;
    color: #000;
    font-weight: 400;
    letter-spacing: -0.32px;
    line-height: 1.1;
    padding: 5px 55px 5px 13px;
    border: none;
    box-shadow: 0px 0px 0px 1px #000;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
    text-align: left;
    text-align-last: left;
}
.qv-size-select option {
  text-align: center;
  text-align-last: center;
}
.qv-select-chevron{
    width: 55px;
    height: 100%;
    border-inline-start: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}
.qv-select-chevron:before{
    content: '';
    width: 15px;
    height: 9px;
    background-image: url('data:image/svg+xml,%3Csvg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1.06067 1.06067L7.06067 7.06067L13.0607 1.06067" stroke="black" stroke-width="1.5" stroke-linecap="square"/%3E%3C/svg%3E');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s ease;
}
/* .qv-size-select:focus-visible+.qv-select-chevron:before{
    transform: rotate(180deg);
} */
.qv-atc{
    width: 100%;
    margin-block-start: 50px;
    cursor: pointer;
}
.qv-atc.is-disabled{
    cursor: not-allowed;
}
.qv-error, .qv-loading{
    font-size: 14px;
    color: #000;
    font-weight: 300;
    letter-spacing: -.14px;
    line-height: 1.1;
    margin: 0;
    text-align: center;
}
@media screen and (max-width:749px){
    .qv-desc{
        font-size: 12px;
        letter-spacing: -0.12px;
    }
}