.n-products{
    margin-block: 90px 50px;
}
.product_item{
    position: relative;
}
.product_image{
    position: relative;
    padding-block-start: 102.475%;
}
.product_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
@media screen and (max-width:989px){
    .n-products{
        margin-block: 40px 25px;
    }
}
@media screen and (max-width:749px){
    .product-list .grid{
       --grid-mobile-horizontal-spacing:4px;
       --grid-mobile-vertical-spacing:4px;
    }
}