.product_quickview{
    width: 22px;
    height: 22px;
    background: #F8F8F8E5;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}
@media screen and (max-width:749px){
    .product_quickview{
        width: 15px;
        height: 15px;
    }
    .product_quickview svg{
        width: 7px;
        height: 7px;
    }
}